* {
        box-sizing: border-box;
}

header {
        position:sticky;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 0px;
        padding: 4px;
        padding-top: 16px;
        border-bottom: 2px solid #ddd;
        background-color: #f1f1f1;

}



.header-left {
        flex: 1;
        padding: 0px;
        margin: 0px;
        margin-right: 10px;
        display: flex;
        align-items: stretch;
}

.title, .name_title {
    margin: 0px;
    font-size: 30px;
    font-weight: 700;
    color: #222222;
}

.subtitle, .name_subtitle {
    margin-top: 4px;
    color: #555555;
    font-size: 16px;
}

.header-right {
    margin: 0px;
    text-align: left;
    padding: 0px;
    font-size: 16px;
    color: #555555;
    margin-left: 10px;
}


.header-right a {
    color: #555555; 
    text-decoration: none;
}

.header-right a:hover {
    text-decoration: underline;
}

header p {
        margin: 0px 0px 5px 0px;

}


body {
        background-color: #f1f1f1;
        padding: 20px;
        font-family: Arial;
}
.row {
        display: flex;
        flex-wrap: wrap;

}
.row,
.row > .col {
  padding: 8px;
}

.col {
        flex:1;
        min-width: 300px;
}

.tile_btn {
        text-decoration: none;
        color: black;
        height: 100%;
}
.project_tile {
        background-color: white;
        padding: 10px;
        height: 100%;
        border-radius: 16px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}







.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.slide {
        max-width: 100%;
        display: none;
}

.row2, .row2rev {
        display: flex;
        align-items: stretch;
}

.col2 {
        flex: 1;
        disply: flex;

        align-content: center;
        padding: 16px;
}

.home_btn {
        border-radius: 4px;
        text-align: center;
        align-content: center;
        padding: 0px;
        padding-right: 0px;
        margin-right: 8px;
        font-size: 48px;
        color: #555555;
} 
.home_btn:hover {
        color: #222222;
}

img {
        border-style: solid;
        border-radius: 16px;
}

.col2 li {
        padding-bottom: 12px;
        font-size: 1.5vw;
}
.col2 p {
        font-size: 1.5vw;
}


@media screen and (max-width: 900px) {
  .title {
        font-size: 24px;
  }
  .subtitle {
        font-size: 14px;
  }
  .header-right {
        font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .col {
    max-width: 100%;
  }
  .title {
        font-size: 20px;
  }
  .subtitle {
        display: none;
  }
  .name_subtitle {
        font-size: 12px;
  }
  .header-right {
        font-size: 12px;
  }
  .row2 {
        flex-direction: column;
  }
  .row2rev {
        flex-direction: column-reverse;
  }
  .col2 li {
        font-size: 14px;
        padding-bottom: 6px;
  }
}